.naiyo {
    text-align: center;
    h1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    img {
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
    }
    p {
        text-align: left;
        font-size: 15px;
    }
}